@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  animation: infinite-scroll 20s linear infinite; /* Sesuaikan durasi sesuai kebutuhan */
}

